.NewUserForm {
    width: 80%;
}


.NewUserDiv {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    max-width: 80vw;
}
.NewUserBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 400px;
    max-width: 80vw;
    height: 400px;
    border: solid black 1px;
}

.toggleNewUserBTN {
    position: absolute;
    top: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}