.discourseDiv {
    position: relative;
    border: solid black 1px;
    width: 90%;
    max-width: 600px;
    height: calc(100% - 260px);
    border-radius: 10px;
    bottom: 0;
    margin: 10px auto 20px auto;
    overflow-y: scroll;
}


.textFieldBox {
    position: relative;
    margin: 0 auto;
    right: 0;
    left: 0;
    width: 80vw;
    max-width: 500px; 
    /* border: solid black 1px */
}
.textFieldDiv {
    /* position: relative; */
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 0 auto 0 0;
}

.mesgMetaData {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
}